{{#paper-card as |card|}}
  {{#card.content class="profile-main__card-container"}}
    <div class="profile-main__header-container">
      <img src={{model.profile.image.src}} alt={{model.profile.image.alt}}>
      <p>{{model.name}}</p>
      <p>{{model.description}}</p>
    </div>
  {{/card.content}}
{{/paper-card}}
