<div class="profile-main__index-container">
{{#paper-card as |card|}}
   {{card.image src="/assets/images/profile:index/header-image-v2.png" alt="部落冲突文档" title="部落冲突文档"}}
   {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}首领欢迎您光临{{/text.headline}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}
    <p>
      第一自然段。还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...
    </p>
    <p>
      第二自然段。还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...
    </p>
    <p>
      第三自然段。还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...还没有想好写什么...
    </p>
{{/card.content}}
{{/paper-card}}
</div>