.container {
  min-height: 100vh;
}

ol,
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #757575;

  &:visited {
    color: #757575;
  }

  &:hover {
    text-decoration: underline;
    color: #212121;
  }
}
