@media (max-width: 960px) {
  .profile-aside__container {
    position: fixed;
  }
}

.profile-aside__container {
  background-color: #616161;
}

.profile-aside__paper-expansion-panel.md-open,
.profile-aside__paper-expansion-panel.md-close, {
  border-radius: 0;
}

.profile-aside__button-container {
  position: fixed;
  bottom: 16px;
  left: 16px;

  a {
    color: #fafafa;
  }
}

.profile-aside__paper-expansion-panel.md-open {
  margin: 0;
}
