.profile-main__container {
  margin-left: 330px;
  width: 100%;
  padding: 18px 10px;
  padding-bottom: 0;
  background-color: #f5f5f5;
}

.profile-main__index-container {
  align-items: center;
  justify-content: center;
}

.profile-main__profile-image-container {
  margin-right: 16px;
}

.profile-main__profile-image {
  width: 100%;
  max-width: 244px;
}
