@media (max-width: 960px) {
  .profile-main__toggle-content-container {
    margin-top: 80px;
  }
}

.profile-main__container {
  background-color: #f5f5f5;
}

.profile-main__toggle-button-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  background-color: #3f51b5;

  md-icon {
    margin-left: 18px;
    color: white;
  }
}

.profile-main__toggle-content-container {
  padding: 18px 10px;
}

.profile-main__index-container {
  align-items: center;
  justify-content: center;
}

.profile-main__profile-image-container {
  margin-right: 16px;
}

.profile-main__profile-image {
  width: 100%;
  max-width: 244px;
}
