<div class="mobile-not-support__container">
  <div>
    <p class="mobile-not-support__content">不好意思，这个 app 目前不支持手机或平板浏览器，只能麻烦您用电脑打开。。。</p>
  </div>
  <div>
    <p class="mobile-not-support__author">爱你的拉多&hearts;</p>
  </div>
</div>