<div class="container layout-row">
  <aside class='profile-aside__container flex-none'>
    <div class='profile-aside__search-container'></div>
    <ul class='profile-aside__list-container'>
      {{#each model as |types|}}
      <div>Type: {{types.type}}</div>
        {{#each types.data as |profile|}}
        <li>
          {{#link-to 'profile.detail' types.type profile.name}}
            {{profile.name}}
          {{/link-to}}
        </li>
        {{/each}}
      {{/each}}
    </ul>
  </aside>

  <main class="profile-main__container flex">
    {{outlet}}
  </main>
</div>


